<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CodeChest</title>
		<link rel="icon" type="image/x-icon" href="../static/assets/logo.png" />
		<script src="../static/scripts/config.js"></script>
	</head>
	<body style="background-color: black">
		<script>
			document.addEventListener("DOMContentLoaded", save_data);

			async function save_data() {
				const promises = [
					fetch(`${window.app_url}/user`, {
						headers: {
							"Content-Type": "application/json",
						},
					}),
					fetch(`${window.app_url}/snippet_list`, {
						headers: {
							"Content-Type": "application/json",
						},
					}),
				];

				const responses = await Promise.all(promises);

				if (responses[0].ok && responses[1].ok) {
					const user = await responses[0].json();
					const snippet_list = await responses[1].json();

					localStorage.setItem("user_info", JSON.stringify(user));
					localStorage.setItem(
						"snippet_list",
						JSON.stringify(snippet_list)
					);

					window.location.replace("../main");
				} else {
					localStorage.setItem("user_info", responses[0].status);
					localStorage.setItem("snippet_list", responses[1].status);
					window.location.replace("../login");
				}
			}
		</script>
	</body>
</html>
