<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CodeChest</title>
		<link rel="stylesheet" href="../static/styles/home.css" />
		<link rel="icon" type="image/x-icon" href="../static/assets/logo.png" />
		<script src="../static/scripts/config.js"></script>
	</head>
	<body>
		{% for message in get_flashed_messages() %}
		<div class="server_message">
			<span class="message">{{ message }}</span>
			<button type="button" class="close_message">&times;</button>
		</div>
		{% endfor %}
		<script type="module" src="../static/scripts/home.js"></script>
	</body>
</html>
