<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>CodeChest</title>
	<link rel="stylesheet" href="../static/styles/snippet_editor.css" />
	<link rel="icon" type="image/x-icon" href="../static/assets/logo.png" />

	<!-- <link href="../static/lib/prism.css" rel="stylesheet" />
	<link href="../static/lib/prism-live.css" rel="stylesheet" /> -->


</head>

<body>
<!-- 
	<script src="../static/lib/prism.js"></script>
	<script src="../static/lib/prism-live.js"></script> -->
	
	<script type="module" src="../static/scripts/snippet_editor.js"></script>
</body>

</html>