@import "colours";

/* the scrollbar */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: var(--darkgray);
}

::-webkit-scrollbar {
	width: 8px;
	border-radius: 4px;
	background-color: var(--darkgray);
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: var(--brown);
}

html,
* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Courier New", monospace;
	font-size: 16px;
	outline: none;
	border: 0;
	cursor: default;
}

body {
	background-color: var(--gray);
	color: whitesmoke;
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

input,
textarea {
	cursor: text;
}

header {
	min-width: 100vw;
	max-width: 100vw;
	min-height: 60px;
	max-height: 60px;

	background-color: var(--darkgray);
	color: silver;

	padding: 0 16px;
	border-bottom: 4px solid var(--brown);

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.left {
		width: 50%;
		height: 100%;

		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		.logo {
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			cursor: pointer;

			img {
				height: 80%;
				margin: auto 0;
				cursor: inherit;
			}
			h1 {
				font-size: 40px;
				text-shadow: 3px 4px 2px var(--brown);
				cursor: inherit;
			}
		}
	}

	.right {
		position: relative;
		width: 50%;
		height: 100%;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;

		.user {
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			cursor: pointer;

			.username {
				font-size: inherit;
				margin-right: 16px;
				cursor: inherit;
			}

			.profile_picture {
				height: 80%;
				aspect-ratio: 1/1;
				margin: auto 0;
				cursor: inherit;
			}
		}

		.user_options {
			display: none;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 16px 0;
			gap: 8px;
			background-color: var(--darkgray);
			position: absolute;
			border: 4px solid var(--brown);
			border-top: 0;
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
			right: 0;
			top: 60px;
			z-index: 1;

			button {
				width: 100%;
				padding: 8px 16px;
				background: none;
				border: 0;
				color: whitesmoke;

				&:hover {
					cursor: pointer;
					background-color: var(--brown);
				}
			}
		}

		.visible {
			display: flex;
		}
	}
}

main {
	background-color: var(--gray);
	width: 70%;
	flex: 1;
	max-height: calc(100vh - 180px);
	margin: 30px auto;
	display: flex;
}

footer {
	font-size: 18px;

	min-width: 100%;
	max-width: 100%;
	min-height: 60px;
	max-height: 60px;

	background-color: var(--darkgray);
	color: silver;

	border-top: 4px solid var(--brown);

	display: flex;
	justify-content: center;
	align-items: center;

	span {
		font-size: inherit;
	}
}

@media only screen and (orientation: portrait) {
	main {
		width: 92.5%;
	}
}

@media only screen and (orientation: portrait) and (max-aspect-ratio: 3/4) {
	header .left .logo h1 {
		display: none;
		visibility: hidden;
	}
}
