:root {
  --brown: #523b27;
  --lightbrown: rgb(109, 83, 61);
  --gray: #212121;
  --darkgray: #171717;
  --lightgray: #dbdbdb;
}

html.light {
  --brown: #6b4e36;
  --lightbrown: #b19688;
  --gray: #45464a;
  --darkgray: #343539;
  --lightgray: #67686b;
}

/* the scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--darkgray);
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  background-color: var(--darkgray);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--brown);
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Courier New", monospace;
  font-size: 16px;
  outline: none;
  cursor: default;
}

body {
  background-color: var(--gray);
  color: whitesmoke;
  position: relative;
  height: 100vh;
}

input,
textarea {
  cursor: text;
}

header {
  width: 100%;
  height: 60px;
  background-color: var(--darkgray);
  color: silver;
  padding: 0 16px;
  border-bottom: 4px solid var(--brown);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
header .left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header .left .logo img {
  height: 50px;
  margin: auto 0;
  cursor: inherit;
}
header .left .logo h1 {
  font-size: 40px;
  text-shadow: 3px 4px 2px var(--brown);
  cursor: inherit;
}
header .right {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
header .right .user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
header .right .user .username {
  font-size: inherit;
  margin-right: 16px;
  cursor: inherit;
}
header .right .user .profile_picture {
  height: 50px;
  aspect-ratio: 1/1;
  margin: auto 0;
  cursor: inherit;
}
header .right .user_options {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: var(--darkgray);
  position: absolute;
  border: 4px solid var(--brown);
  border-top: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  right: 0;
  top: 60px;
  z-index: 1;
}
header .right .user_options button {
  background: none;
  border: 0;
  color: whitesmoke;
}
header .right .user_options button:hover {
  cursor: pointer;
}
header .right .visible {
  display: flex;
}

main {
  background-color: var(--gray);
  width: 70%;
  min-height: calc(100vh - 180px);
  max-height: calc(100vh - 180px);
  margin: 30px auto;
  display: flex;
}

footer {
  font-size: 18px;
  width: 100%;
  height: 60px;
  background-color: var(--darkgray);
  color: silver;
  border-top: 4px solid var(--brown);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer span {
  font-size: inherit;
}

@media only screen and (max-width: 960px) {
  main {
    width: 92.5%;
  }
}
html,
* {
  border: 0;
}

form[name=login_form] {
  width: 30em;
  height: 21em;
  margin: auto;
  background-color: var(--darkgray);
  color: #000;
  padding: 2em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
}
form[name=login_form] > .container {
  display: flex;
  flex-direction: column;
  position: relative;
}
form[name=login_form] > .container input[name=password_input] {
  width: calc(100% - 4.5em);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
form[name=login_form] > .container .password_toggle {
  background-color: color-mix(in srgb, var(--gray) 50%, var(--darkgray));
  color: whitesmoke;
  width: 4.5em;
  padding: 1em;
  font-size: inherit;
  border-radius: 0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  font-style: normal;
  position: absolute;
  right: 0;
  top: 2em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
form[name=login_form] input {
  background-color: var(--gray);
  color: whitesmoke;
  font-size: inherit;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
}
form[name=login_form] label {
  background-color: inherit;
  color: whitesmoke;
  font-size: inherit;
  line-height: 1em;
  padding: 0.5em;
}
form[name=login_form] button {
  background-color: var(--brown);
  color: whitesmoke;
  font-weight: bold;
  font-size: inherit;
  padding: 1em;
  border-radius: 1em;
  margin-top: auto;
}/*# sourceMappingURL=login.css.map */