@import "static";

html,
* {
	border: 0;
}

form[name="login_form"] {
	width: 30em;
	height: 21em;
	margin: auto;
	background-color: var(--darkgray);
	color: #000;
	padding: 2em;
	border-radius: 2em;
	display: flex;
	flex-direction: column;

	> .container {
		display: flex;
		flex-direction: column;
		position: relative;

		input[name="password_input"] {
			width: calc(100% - 4.5em);
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.password_toggle {
			background-color: color-mix(
				in srgb,
				var(--gray) 50%,
				var(--darkgray)
			);
			color: whitesmoke;
			width: 4.5em;
			padding: 1em;
			font-size: inherit;
			border-radius: 0;
			border-top-right-radius: 1em;
			border-bottom-right-radius: 1em;
			font-style: normal;
			position: absolute;
			right: 0;
			top: 2em;
			user-select: none;
		}
	}

	input {
		background-color: var(--gray);
		color: whitesmoke;
		font-size: inherit;
		padding: 1em;
		border-radius: 1em;
		margin-bottom: 1em;
	}

	label {
		background-color: inherit;
		color: whitesmoke;
		font-size: inherit;
		line-height: 1em;
		padding: 0.5em;
	}

	button {
		background-color: var(--brown);
		color: whitesmoke;
		font-weight: bold;
		font-size: inherit;
		padding: 1em;
		border-radius: 1em;
		margin-top: auto;
	}
}
