@import "static";

main {
	.left {
		flex: 65;
		min-height: 100%;
		max-height: 100%;
		padding-right: 16px;
		display: flex;
		flex-direction: column;

		.create_snippet {
			height: 48px;
			width: calc(100% - 24px);

			background-color: var(--darkgray);
			text-align: center;
			display: block;

			margin-bottom: 16px;
			padding: 16px;
			border-radius: 16px;

			&:hover {
				text-decoration: underline;
				text-decoration-color: whitesmoke;
				cursor: default;
				animation: shake 0.4s ease-in-out;
			}
			@keyframes shake {
				100% {
					transform: translateX(0);
				}
				50% {
					transform: translateY(-6px);
				}
			}

			::selection {
				color: inherit;
				background-color: inherit;
			}
		}

		.snippet_list {
			overflow-y: scroll;
			min-height: calc(100% - 64px);
			max-height: calc(100% - 64px);

			.snippet {
				height: 156px;

				background-color: var(--darkgray);
				display: grid;
				margin-bottom: 16px;
				padding: 16px;
				margin-right: 16px;
				border-radius: 16px;

				display: flex;
				flex-direction: column;
				gap: 16px;

				.short_description {
					height: 54px;
				}

				.tags {
					grid-area: tags;
					.tag {
						background-color: var(--brown);
						color: whitesmoke;
						border-radius: 16px;
						padding: 4px 8px;
						margin-right: 8px;
					}
				}

				.actions {
					grid-area: actn;
					gap: 16px;
					margin: auto;
					display: flex;
					flex-direction: column;

					button {
						width: 100%;
						aspect-ratio: 1/1;
						background-color: whitesmoke;
						border: none;
						border-radius: 4px;
					}
				}
			}

			.favourite {
				h3 {
					color: gold;
				}
			}
		}

		.snippet_list .snippet:last-child {
			margin-bottom: 0;
		}
	}

	.right {
		flex: 35;
		min-height: 100%;
		display: flex;
		flex-direction: column;

		h3 {
			color: whitesmoke;
		}

		.full_description {
			flex: 1;
			min-height: calc(100% - 308px);
			max-height: calc(100% - 308px);

			background-color: var(--darkgray);
			border-left: 0;
			border-radius: 16px;
			padding: 16px;
			margin-bottom: 16px;
			display: flex;
			flex-direction: column;

			h3 {
				margin-bottom: 16px;
				width: 100%;
				height: 16px;
			}
			p {
				min-height: calc(100% - 32px);
				max-height: calc(100% - 32px);
				flex: 1;
				overflow-y: auto;
			}
		}

		.search {
			width: 100%;
			max-height: 48px;
			margin-bottom: 16px;
			position: relative;

			input {
				font-size: inherit;
				color: whitesmoke;
				background-color: var(--darkgray);

				width: calc(100% - 5em);
				max-height: 48px;

				border: 0;
				border-radius: 16px 0 0 16px;
				padding: 16px;

				&::placeholder {
					color: silver;
					opacity: 1;
				}
			}

			.search_button {
				background-color: color-mix(
					in srgb,
					var(--gray) 50%,
					var(--darkgray)
				);
				color: whitesmoke;
				width: 5em;
				max-height: 48px;
				padding: 1em;
				font-size: inherit;
				border: 0;
				border-top-right-radius: 1em;
				border-bottom-right-radius: 1em;
				font-style: normal;
				position: absolute;
				right: 0;
				top: 0;
				user-select: none;
			}
		}

		.actions {
			width: 100%;
			display: flex;
			gap: 16px;

			button {
				height: 48px;
				width: 50%;
				background-color: var(--darkgray);
				color: whitesmoke;
				border: 0;
				border-radius: 16px;
				transition: color 0.3s;
			}

			.edit:hover {
				color: rgb(158, 230, 50);
			}
			.delete:hover,
			.confirm_delete:hover {
				color: rgb(204, 80, 80);
			}
		}
	}
}

@media only screen and (orientation: portrait) and (max-aspect-ratio: 3/4) {
	main {
		flex-direction: column-reverse;
		justify-content: flex-start;

		.left {
			min-height: 60%;
			max-height: 60%;
			width: 100%;
			padding-right: 0;
			padding-top: 16px;
			border-top: 4px solid var(--brown);

			.create_snippet {
				display: none;
				visibility: hidden;
			}

			.snippet_list {
				min-height: 100%;
				max-height: 100%;
				overflow: scroll;
				scrollbar-width: none;

				&::-webkit-scrollbar {
					display: none;
				}

				.snippet {
					margin-right: 0;
				}
			}
		}
		.right {
			min-height: 40%;
			max-height: 40%;
			width: 100%;

			.full_description {
				flex: none;
				min-height: calc(100% - 84px);
				max-height: calc(100% - 84px);
			}

			.actions {
				display: none;
				visibility: hidden;
			}
		}
	}
}
