@import "static";

main {
    padding: 20px 0;
    width: 100%;
    min-height: calc(100vh - 200px);
    background-color: var(--gray);
    margin-top: 20px;

    .container {
        width: 70%;
        margin: auto;
        display: flex;
        min-height: calc(100vh - 260px);

        .snippetList {
            flex: 65;
            padding: 0 1em;
            border-right: 4px solid var(--brown);
            margin-right: 1em;

            .snippet {
                background-color: var(--darkgray);
                display: grid;
                gap: 1em;
                grid: 1em auto 1em / calc(100% - 60px) 60px;
                grid-template-areas:
                    "titl actn"
                    "desc actn"
                    "tags actn";
                margin-bottom: 16px;
                padding: 16px;
                border-radius: 16px;
                height: 144px;

                .snippetTitle {
                    grid-area: titl;
                }

                .shortDescription {
                    grid-area: desc;
                }

                .tags {
                    grid-area: tags;
                    color: whitesmoke;

                    .tag {
                        background-color: var(--brown);
                        border-radius: 1em;
                        padding: 4px 8px;
                    }
                }

                .actions {
                    grid-area: actn;
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    padding: 0 15px;
                    aspect-ratio: 1/1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    button {
                        width: 100%;
                        aspect-ratio: 1/1;
                        background-color: whitesmoke;
                        border: none;
                        border-radius: 4px;
                    }
                }
            }

            .snippet:nth-child(1) {
                height: 48px;
                width: 100%;
                background-color: var(--darkgray);
                text-align: center;
                display: block;

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: whitesmoke;
                    cursor: default;
                    animation: shake 0.4s ease-in-out; /* Define the @keyframes shake animation */
                }

                @keyframes shake {
                    100% {
                        transform: translateX(0);
                    }
                    50% {
                        transform: translateY(-6px);
                    }
                }

                ::selection {
                    color: inherit;
                    background-color: inherit;
                }
            }
        }

        .accessories {
            flex: 35;
            display: flex;
            flex-direction: column;

            .title {
                color: whitesmoke;
            }

            .snippetDescription {
                background-color: var(--darkgray);
                border-left: 0;
                border-radius: 16px;
                padding: 1em;
                display: flex;
                flex-direction: column;
                margin-bottom: 1em;
                height: 304px;

                .title {
                    margin-bottom: 1em;
                    width: 100%;
                    height: 1em;
                }
                .description {
                    width: 100%;
                    height: calc(100% - 4em);
                }
            }

            .search {
                width: 100%;
                height: 48px;
                margin-bottom: 1em;

                #search {
                    font-size: inherit;
                    width: 100%;
                    height: 100%;
                    line-height: 1.5em;
                    border: 0;
                    border-radius: 16px;
                    padding: 5px 16px;
                    background-color: var(--darkgray);
                    color: whitesmoke;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: silver;
                        opacity: 1;
                    }
                }
            }

            .premium,
            .storage,
            .parrot {
                background-color: var(--darkgray);
                margin-bottom: 1em;
                padding: 1em;
                border-radius: 16px;
                height: 100px;
            }

            .storage {
                #storage {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 50%;
                    background-color: var(--brown);
                    border-radius: 10px;

                    .current {
                        width: 30%;
                        height: 100%;
                        background-color: var(--lightgray);
                        border-radius: 10px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }

            .parrot {
                flex: auto;
                margin-bottom: 0;
            }
        }
    }
}
