:root {
  --brown: #523b27;
  --lightbrown: rgb(109, 83, 61);
  --gray: #212121;
  --darkgray: #171717;
  --lightgray: #dbdbdb;
}

html.light {
  --brown: #6b4e36;
  --lightbrown: #b19688;
  --gray: #45464a;
  --darkgray: #343539;
  --lightgray: #67686b;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Courier New", monospace;
  font-size: 16px;
}

body {
  background-color: var(--gray);
  color: whitesmoke;
}

header {
  width: 100%;
  height: 100px;
  background-color: var(--darkgray);
  color: silver;
  padding: 0 16px;
  border-bottom: 4px solid var(--brown);
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .header-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
header .header-left #logo {
  height: 85px;
  margin: auto 0;
}
header .header-left span {
  font-size: 40px;
  text-shadow: 3px 4px 2px var(--brown);
}
header .header-right {
  width: 50%;
  height: 100%;
  font-size: 24px;
  display: flex;
  justify-content: right;
  align-items: center;
}
header .header-right #username {
  font-size: inherit;
  margin-right: 16px;
}
header .header-right #profile-picture {
  height: 81px;
  aspect-ratio: 1/1;
  margin: auto 0;
}

main {
  background-color: var(--gray);
  width: 70%;
  min-height: 720px;
  margin: 0 auto;
  display: flex;
}

footer {
  font-size: 20px;
  width: 100%;
  height: calc(100vh - 916px);
  background-color: var(--darkgray);
  color: silver;
  border-top: 4px solid var(--brown);
  margin-top: 48px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer span {
  font-size: inherit;
}

main .left {
  flex: 65;
  min-height: 100%;
  padding: 0 16px;
  margin-right: 16px;
  border-right: 4px solid var(--brown);
}
main .left .code-editor {
  height: 100%;
  padding: 16px;
  background-color: var(--darkgray);
  border-radius: 16px;
}
main .left .code-editor .title {
  grid-area: title;
  margin-bottom: 16px;
}
main .left .code-editor textarea {
  width: 100%;
  height: calc(100% - 32px);
  color: inherit;
  background-color: var(--darkgray);
  border: 3px solid var(--gray);
  border-radius: 8px;
  padding: 8px;
  resize: none;
}
main .left .code-editor textarea:focus {
  outline: none;
}
main .right {
  flex: 35;
}
main .right .snippet-name,
main .right .full-description,
main .right .short-description,
main .right .tags {
  width: 100%;
  background-color: var(--darkgray);
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 16px;
}
main .right .snippet-name h3,
main .right .full-description h3,
main .right .short-description h3,
main .right .tags h3 {
  margin-bottom: 16px;
}
main .right .snippet-name input,
main .right .full-description input,
main .right .short-description input,
main .right .tags input {
  width: 100%;
  background-color: inherit;
  color: inherit;
  border: 0;
}
main .right .snippet-name input:focus,
main .right .full-description input:focus,
main .right .short-description input:focus,
main .right .tags input:focus {
  outline: none;
}
main .right .full-description input {
  height: 48px;
}
main .right .actions {
  width: 100%;
  display: flex;
  gap: 16px;
}
main .right .actions .save, main .right .actions .delete {
  height: 48px;
  width: 50%;
  background-color: var(--darkgray);
  color: whitesmoke;
  border: 0;
  border-radius: 16px;
}/*# sourceMappingURL=snippet-editor.css.map */